<%- include('header') -%>

<h1> <%= title%></h1>

<form class="form" method="post" action="/register" autocomplete="off">

<div class="field">
    <label for="name">Nafn</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="field">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username">
  </div>


  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password">
  </div>

   <% if (typeof message !== 'undefined') { %>
  <p><%= message %></p>
  <% } %>
  <% if (Object.keys(errors).length > 0) { %>
      <h3 class="errors__title">Villur við skráningu:</h3>
      <ul class="errors">
      <% if (errors.name.length > 0) { %>
       <li class="error"> <%= errors.name %> </li>
       <% } %>
       <% if (errors.username.length > 0) { %>
       <li class="error"> <%= errors.username %> </li>
      <% } %>
       <% if (errors.password.length > 0) { %>
       <li class="error"> <%= errors.password %> </li>
      <% } %> 
      </ul>
    <% } %>
  <button class="button">Nýskráning</button>
</form>


<a href="/">Til baka</a>

<%- include('footer') -%>